<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Suggestion Home</title>
    <link rel="stylesheet" href='{% static "suggestion/css/slp.css" %}'>
    <link rel="stylesheet" href='{% static "suggestion/css/bootstrap.css" %}'>
    <link rel="stylesheet" href='{% static "suggestion/css/font.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href='{% static "suggestion/css/pcf.css" %}'>



</head>
<body class="colour">
    <div class="navbar">
        <a href="Book Suggestion"><i class="fa-solid fa-book-open"></i>Books</a>
        <a href="{% url 'Home' %}">Home</a>
        <a href="{% url 'about us' %}">About Us</a> 
        <a href="{% url 'h' %}">Help</a> 
        {% if request.user.is_authenticated %}
        <a href="{% url 'profile' %}">Welcome {{ request.user }}</a> 
        <a href="{% url 'view_cart' %}"><i class="fa-solid fa-cart-shopping"></i></a> 
        <a href="{% url 'logout' %}">Logout</a> 
        {% else %}
        <a href="{% url 'login' %}">Log In</a> 
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </div>
    <br>
    <div class="containerB">
        <h1><i class="fa-regular fa-user"></i>Welcome {{ name }}</h1>
        <div class="buttons">
            <a href="{% url 'logout' %}"><input type="button" value="Logout"></a>
            <a href="{% url 'pcf' %}"><input type="button" value="Change Password"></a>
            <a href="{% url 'h' %}"><input type="button" value="Customar Care"></a>
      
        </div>
    </div>
    <br>
    <br>
    <div class="cards">
        <div class="card">
            <a href="{% url 'K' %}">
                <img src='{% static "suggestion/images/kids/img45.jpg" %}' alt="Image 1">
            </a>
           
            <div class="card-details">
                <h2>KIDS</h2>
                <p>Welcome to our Kids' Corner, where imagination knows no bounds! Dive into a world of adventure, laughter, and discovery with our handpicked selection of children's books. From enchanting tales of brave heroes and magical creatures to heartwarming stories of friendship and courage, there's something for every young reader to enjoy. Spark their curiosity with captivating illustrations, whimsical characters, and engaging plots that will transport them to far-off lands and inspire endless dreams. Whether they're exploring the depths of the ocean, soaring through the skies on the back of a dragon, or embarking on a quest to save the day, our collection promises to ignite their imagination and nurture a love for reading that will last a lifetime. Join us on a journey of wonder and excitement as we open the door to endless possibilities in the pages of our kids' books!</p>
            </div>
        </div>
        <div class="card">
            <a href="{% url 'L' %}">
                <img src="{% static 'suggestion/images/love/img4.jpg' %}" alt="Image 2">
            </a>
            
            <div class="card-details">
                <h2>LOVE</h2>
                <p>In the vast landscape of literature, few themes captivate the human spirit quite like love. From timeless classics to contemporary tales, the exploration of love in its myriad forms has been a cornerstone of storytelling throughout history. Whether it's the tender embrace of a newfound romance, the enduring bond of lifelong companionship, or the bittersweet ache of love lost, books have the power to transport us into the depths of the heart and illuminate the complexities of our most cherished emotion. Within these pages, you'll find a rich tapestry of narratives that celebrate the beauty, resilience, and transformative power of love in all its manifestations, inviting readers to journey alongside characters as they navigate the joys and challenges of the human heart.</p>
            </div>
        </div>
        <div class="card">
            <a href="{% url 'S' %}"><img src='{% static "suggestion/images/story/img51.jpg" %}' alt="Image 3"></a>
            
            <div class="card-details">
                <h2>STORY</h2>
                <p>Embark on a journey beyond the confines of reality and into the boundless realms of the imagination with our science fiction collection. From distant galaxies teeming with alien civilizations to futuristic worlds shaped by advanced technology, the genre of science fiction offers a gateway to explore the infinite possibilities of the universe. Through the lens of speculative fiction, readers are transported to worlds where the laws of physics bend and the limits of human potential are pushed to the brink. Whether you're a seasoned explorer of the cosmos or a newcomer eager to discover new galaxies, our curated selection of sci-fi literature promises to ignite your imagination, provoke thought, and challenge perceptions of what is possible.</p>
            </div>
        </div>
        <div class="card">
            <a href="{% url 'F' %}">
                <img src='{% static "suggestion/images/sci_fyi/img_5n.jpg" %}' alt="Image 4">
            </a>
           
            <div class="card-details">
                <h2>SCI_FYI</h2>
                <p>Stories have been an integral part of the human experience since the dawn of civilization, serving as vessels for wisdom, entertainment, and cultural expression. Within the pages of our story collection, you'll find an eclectic mix of narratives that traverse genres, cultures, and time periods, offering something for every reader to enjoy. Whether you're seeking tales of adventure that whisk you away to distant lands, poignant dramas that tug at the heartstrings, or mysteries that keep you on the edge of your seat until the very last page, our diverse selection of stories promises to captivate, inspire, and transport you to worlds both familiar and fantastical. So, immerse yourself in the magic of storytelling and let your imagination take flight as you embark on a journey through the rich tapestry of human experience.</p>
            </div>
        </div>
    </div 
    
    <br>
    <br>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <h3>About Us</h3>
                    <p>Welcome to our book-loving community! At Books,we’re passionate about literature and believe that every book has the power to transport us to new worlds,spark our imagination, and ignite meaningful conversations, for more check out on About us.</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h3>Useful Links</h3>
                    <ul class="footer-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12">
                    <h3>Contact Us</h3>
                    <p>Email: ppritam805@gmail.com</p>
                    <p>Phone: +91-9185236854</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Designed by Pritam Patil &copy; 2024</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    

  
   

    
    



   

  
   
   
  
  
      
      
  
  
      

    <script src='{% static "suggestion/js/bootstrap.js" %}'></script>
    <script src='{% static "suggestion/js/font.js" %}'></script>
    <script src='{% static "suggestion/js/jquery.js" %}'></script>
    <script src='{% static "suggestion/js/popper.js" %}'></script>
    <script src='{% static "suggestion/js/real.js" %}'></script>
    
</body>
</html>